.header {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat; 
  height: 100vh;

  &--home {
    background-image: linear-gradient(rgba($color-black, .8), rgba($color-black, .8)), url('../img/home-intro.jpg');
  }
}