.section {

  padding: 10rem 5rem;

  &-menu {
    background-color: $color-primary-dark; 
  }

  &-services {
    background-color: $color-primary-light;
  }

  &-reach-us {
    background-color: $color-primary-dark;
  }

  &-who-are-we {
    background-color: $color-primary-dark;
    padding: 10rem 20rem;
  }

  &-features {
    background-color: $color-primary-light;
  }

  &-book-reservation {
    background-color: $color-primary-light;
  }
}