.service-container {
  display: flex;
  flex-wrap: wrap;
}

.service {
  display: flex;
  flex-direction: column;
  flex: 0 1 30%;
  background-color: $color-grey-light;
  padding: 1rem 2rem;
  border-radius: 3px;
  box-shadow: 0 .25rem .25rem rgba($color-black, .3);
  font-family: "Open Sans", sans-serif;

  &__title {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 2rem;
    color: $color-grey-dark;
  }

  &__description {

  }
}