/* Media query breakpoints */ 
$bp-very-large: 62.5em; // 1000px 
$bp-large: 56.25em; // 900px 
$bp-medium: 50em; // 800px 
$bp-small: 37.5em; // 600px 

/* Colors */ 
$color-primary: #6a994e;
$color-primary-dark: #386641;
$color-primary-light: #a7c957;

$color-secondary: #bc4749;

$color-white: #fff;
$color-black: #000;

$color-grey-dark: #333;
$color-grey-light: #F7F7F7;